<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <title>안녕!!</title>
</head>
<body>
<div class="container">


    <a href="/"><h1 class="center">수능일 까지 {{g.delta.days}}일</h1></a>
    <br>
    {% block content %}
    {% endblock %}
    </br>
    <!--<br><img src="../static/656066.jpg" width="200" height="300"><br>-->
</div>
</body>
</html>